.form-page {
	display: flex;
	justify-content: space-between;

	padding: 30px;

	height: calc(100% - 60px);
	align-items: center;

	&-container {
		width: 100%;
		margin: 0 200px;

		&-details {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 20px;

			&-split {
				display: flex;
				justify-content: space-between;
				gap: 40px;
			}
		}
	}

	h2 {
		font-weight: 800;
	}
}
