body {
	height: 100vh;
	margin: 0;
	background-color: #1f2136;
	color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
	height: 100%;
}

.main-container {
	height: 100%;
}
